# Environment files

/.env
*.env
.env.example

# Dependencies
node_modules/
V2/node_modules/

# Build artifacts
*.pkpass

# Development
.DS_Store
.idea/
.vscode/

# Generated metadata
V2/templates/
V2/metadata/metadata/templates/*.json

# Tools
bfg.jar
